services:
  n8n:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - TZ=Asia/Taipei
      - NODES_EXCLUDE=[]
    volumes:
      - n8n_data:/home/node/.n8n
      - ${DOWNLOAD_PATH:-/var/www/html/downloads}:/home/node/downloads
    restart: unless-stopped

volumes:
  n8n_data:
    name: n8n_data
